<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="flex-2">
        <img
          routerLink="/home"
          src="assets/imgs/logo-md.svg"
          class="d-none d-md-flex"
        />
        <img
          routerLink="/home"
          src="assets/imgs/logo-mobile.svg"
          class="d-md-none"
        />
        <p class="copyright d-md-none">&copy; {{ year }} Apporte LTD.</p>
        <p class="copyright d-none d-md-flex">
          &copy; {{ year }} Apporte Delivery Ltd.
        </p>

        <ul>
          <li routerLink="/privacy-policy">
            <img src="assets/icons/whatsapp.svg" />
          </li>
          <li routerLink="/privacy-policy">
            <img src="assets/icons/twitter.svg" />
          </li>
          <li routerLink="/privacy-policy">
            <img src="assets/icons/instagram.svg" />
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="assets/imgs/line.svg" style="width: -webkit-fill-available" />
      </div>
      <div class="linker col-md-3 col-6">
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/contact-us">Contact Us</a></li>
        <li><a routerLink="/">Careers</a></li>
      </div>
      <div class="linker col-md-3 col-6">
        <li><a routerLink="/">FAQs</a></li>
        <li><a routerLink="/">Newsletter Sign-up</a></li>
        <li><a routerLink="/">Customer`s Review</a></li>
      </div>
      <div class="linker col-md-3 col-6">
        <li><a routerLink="/">Block a Rider</a></li>
        <li><a routerLink="/request-rider">Find a Rider</a></li>
        <li>
          <a routerLink="/">Search</a>
        </li>
      </div>
      <div class="linker col-md-3 col-6">
        <li><a routerLink="/">Search a vendor</a></li>
        <li><a routerLink="/">Search Location</a></li>
        <li>
          <a routerLink="/home">Home</a>
        </li>
      </div>
    </div>
  </div>
</div>
