.container-fluid {
  background: url("../../../assets/imgs/footer-bg.svg"), var(--navbar-green);
  background-position: center;
  background-size: cover;
  padding: 0px !important;
  width: 100%;

  .linker {
    margin-bottom: 30px;
    li {
      list-style-type: none;
      padding: 12px 0px;
      color: var(--white);
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1rem;

      a {
        font-weight: 400;

        // line-height: 50px;
        color: var(--white);
        cursor: pointer;
        text-decoration: none;
        text-transform: none !important;
      }

      span {
        margin-right: 15px;
        img {
          width: 20px;
        }
      }
    }
  }

  hr {
    border: 1px solid white;
    z-index: 1;
  }

  .flex-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0 20px 0;

    img {
      cursor: pointer;
    }

    .copyright {
      font-weight: 400;
      font-size: 14px;
      color: var(--white);
      text-transform: capitalize;
      margin: 0 !important;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 15px;
      cursor: pointer;
      font-weight: 400;
      font-size: 0.8rem;
      color: #999791;
      margin: auto 0;
      li {
        list-style-type: none;

        img {
          width: 25px;
        }
      }
    }
  }

  .righter {
    p {
      font-size: 1rem;
      font-weight: 400;
      color: var(--white);
      max-width: 85%;
      display: inline-block;
      padding: 12px 0;
    }

    .flexer {
      display: flex;

      align-items: end;
      flex-direction: column;
      gap: 20px;
      justify-content: right;
      input {
        box-shadow: none;
        width: 300px;
        border: 1px solid var(--btn-yellow);
        border-radius: 2px;

        &:focus {
          box-shadow: none;
          border: 1px solid var(--btn-yellow);
          outline: none;
        }
      }
      .btn-yellow {
        background-color: var(--btn-yellow);
        text-transform: capitalize;
        border-radius: 37px;

        font-weight: 700;
        font-size: 0.8rem;
        border: none;
        outline: none;

        &:focus {
          border: none;
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .container-fluid {
    .copyright {
      font-size: 12px;
    }

    .righter {
      p {
        max-width: 100%;
        text-align: center;
      }

      .flexer {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}
