.container-fluid {
  background: var(--navbar-green);
  padding: 0px !important;
  width: 100%;

  .linker {
    margin-bottom: 30px;
    li {
      list-style-type: none;
      padding: 12px 0px;

      a {
        font-weight: 400;
        font-size: 0.8rem;
        // line-height: 50px;
        color: var(--white);
        cursor: pointer;
        text-decoration: underline;
        text-transform: none !important;
      }
    }
  }

  hr {
    border: 1px solid white;
    z-index: 1;
  }

  .flex-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0 20px 0;

    img {
      cursor: pointer;
    }

    .copyright {
      font-weight: 400;
      font-size: 14px;
      color: var(--white);
      text-transform: capitalize;
      margin: 0 !important;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 15px;
      cursor: pointer;
      font-weight: 400;
      font-size: 0.8rem;
      color: #999791;
      margin: auto 0;
      li {
        list-style-type: none;

        img {
          width: 25px;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .copyright {
    font-size: 12px !important;
  }
}
