.btn {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
  background-color: var(--back-green) !important;
  padding: 10px 15px;

  border: none;

  &:focus {
    background-color: var(--back-green) !important;
    color: var(--white);
    border: none;
  }

  .fa {
    color: var(--white);
  }
}

.alerter {
  position: fixed;
  // right: 45px;
  bottom: 20px;
  z-index: 99;
  .btn-close {
    right: 20px;
  }
}

@media (max-width: 767px) {
  .btn {
    right: 10px;
  }
}
.ios-menu {
  width: 14px;
}
