<router-outlet></router-outlet>
<!-- <a (click)="scrollToTop()" class="btn back-to-top" id="toper"
  ><i class="fa fa-arrow-up" aria-hidden="true"></i
></a> -->
<div class="w-100 position-absolute top-0" *ngIf="modalVersion">
  <div class="alert alert-secondary m-2">
    <button
      type="button"
      class="btn-close position-absolute top-0 end-0 m-1"
      aria-label="Close"
      (click)="closeVersion()"
    ></button>
    A new version of this app is available.
    <a href="" (click)="updateVersion()">Update now</a>
  </div>
</div>
<div
  class="w-100 alerter"
  *ngIf="modalPwaPlatform === 'ANDROID' || modalPwaPlatform === 'IOS'"
>
  <div class="alert alert-secondary alert-android m-2">
    <button
      type="button"
      class="btn-close position-absolute"
      aria-label="Close"
      (click)="closePwa()"
    ></button>
    <!-- Android -->
    <div
      class="d-flex"
      *ngIf="modalPwaPlatform === 'ANDROID'"
      (click)="addToHomeScreen()"
    >
      <img src="assets/icons/icon-48x48.png" class="android-menu m-0" />
      Add WEB app to home screen
    </div>
    <!-- iOS with Safari -->
    <div *ngIf="modalPwaPlatform === 'IOS'" (click)="addToHomeScreen()">
      To install this WEB app on your device, tap the "Menu" button
      <img
        src="https://res.cloudinary.com/rodrigokamada/image/upload/v1641089482/Blog/angular-pwa/safari_action_button_38x50.png"
        class="ios-menu m-0"
      />
      and then "Add to home screen" button
      <i class="bi bi-plus-square"></i>
    </div>
  </div>
</div>
