<div id="page">
  <app-navbar></app-navbar>
  <div class="container-fluid content">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h6>Request a Rider</h6>
          <p>
            Get an Apporte Delivery man in 15 minutes, when you complete/submit
            your request.
          </p>
        </div>
        <div class="col-md-12">
          <div class="card my-5 flex-row shadow rounded-5 overflow-hidden">
            <div class="card-img-left d-none d-md-flex"></div>
            <form class="mx-auto my-5">
              <div class="row">
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Senders name"
                  />
                </div>
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Pickup phone number"
                  />
                </div>
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Pickup location"
                  />
                </div>
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Item description"
                  />
                </div>
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Receivers name"
                  />
                </div>
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Receivers phone number"
                  />
                </div>
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Delivery location"
                  />
                </div>

                <div class="col-md-12 py-2 text-center">
                  <button
                    type="button"
                    class="btn btn-yellow text-white py-2 px-5 me-3"
                  >
                    request
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
