<app-navbar></app-navbar>

<div class="container-fluid hero-header">
  <div class="container">
    <div class="row align-items-center" id="row">
      <div class="col-lg-6 text-lg-start">
        <h1 class="display-4 text-white">
          deliver more<br />
          pay less
        </h1>
        <p class="text-white mb-4">
          Subscribe to our business Delivery plan and enjoy 11 delivery for
          ₦7500
        </p>
        <button
          routerLink="/request-rider"
          class="btn btn-yellow text-white py-2 px-4 me-3"
        >
          request now <img src="assets/icons/arrow-right.svg" />
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid card-section py-5">
  <div class="container">
    <div class="row">
      <p class="text-center">Enjoy Fast, Affordable and Better Delivery</p>

      <div class="request">
        <img src="assets/icons/request-icon.svg" />
        <h6>Request a Rider</h6>
        <div>
          Request for pickup and delivery within Abakaliki and it’s environs.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid boundaries py-4">
  <div class="container">
    <div class="row">
      <p class="text-center">Delivering Beyond Boundaries.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="assets/icons/logistics.svg" />
            <h6>Logistics Excellence</h6>
            <p class="bound">
              Central to our operation is a relentless pursuit of logistics
              excellence. Our hardworking team ensures that packages move
              seamlessly across distances.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="assets/icons/innovation.svg" />
            <h6>Innovation and Technology</h6>
            <p class="bound">
              In a rapidly evolving digital landscape, innovation is our driving
              force. Our user-friendly websites and platforms makes ordering and
              tracking a breeze.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="assets/icons/safety.svg" />
            <h6>Safety and Sustainability</h6>
            <p class="bound">
              Safety and sustainability are non-negotiable principles for us.
              our platform ensures that there is high level of safety of goods
              from pickup to delivery points.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid vision">
  <img src="assets/imgs/body-spice.svg" class="upper_left" />
  <img src="assets/imgs/body-spice.svg" class="lower_right" />
  <div class="container">
    <div class="row text-center my-5">
      <div class="col-md-12 mb-5">
        <h5>our mission</h5>
        <p class="pb-5">
          To provide the best last mile delivery solution to our users.
        </p>
      </div>
      <div class="col-md-12">
        <h5>our vision</h5>
        <p>
          To become the best last mile delivery company by using technology in
          making faster and affordable delivery accessible to users.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid possibility py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6>A Word of Possibilities</h6>
        <p class="righter">
          Our journey is far from over, and we invite you to be part of it.
          Whether you're a business looking to streamline your supply chain or a
          food enthusiast craving culinary delights, Apporte delivery is here to
          exceed your expectations. We're not just delivering goods and food;
          we're delivering peace of mind, convenience, and a world of
          possibilities.
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/imgs/possibility.svg" />
      </div>
      <p class="text-center mt-5" style="width: 60%; margin: auto">
        Thank you for choosing Apporte delivery as your trusted partner.
        Together, we'll continue to redefine the way logistics and food delivery
        shape our world.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
