.hero-header {
  // margin-top: -85px;
  // background: url("../../../assets/imgs/hero-bg.svg"),
  //   url("../../../assets/imgs/hero-blend.svg"),
  //   url("../../../assets/imgs/hero-blend-2.svg");
  background-blend-mode: saturation;
  background-size: cover;
<<<<<<< HEAD
  background-size: cover;
  // background-color: #ced4da;
  background-color: lime;
=======

  background-color: #ced4da;
>>>>>>> f1efceb9a777e161e92adb1f86433e0da253b067
  height: 91vh;

  #row {
    min-height: 85vh;
  }

  .display-4 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 3.6rem;
    text-transform: capitalize;
  }
  p.text-white {
    font-weight: 600;
    font-size: 1.5rem;
    max-width: 75%;
  }

  .btn-yellow {
    background-color: var(--btn-yellow);
    text-transform: capitalize;
    border-radius: 37px;
    padding: 16px;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    outline: none;

    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }

    img {
      margin-left: 10px;
    }
  }
}

.card-section {
  background-color: #f2f2f2;
  p.text-center {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-1);
  }
  .request {
    background-color: var(--white);
    text-align: center;
    padding: 20px 20px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    h6 {
      font-weight: 700;
      font-size: 1.5rem;
      color: var(--black-1);
    }
    div {
      font-weight: 400;
      font-size: 1rem;
      color: var(--black-1);
    }
  }
}

.boundaries {
  background-color: var(--white);
  margin-bottom: 20px;
  p.text-center {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-1);
    padding-bottom: 10px;
  }

  .card {
    background-color: #013402;
    border-radius: 10px;
    margin: 10px 0;
    &-body {
      padding: 24px;
      text-align: center;
      gap: 24px;
      color: var(--white);

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 12%;
      }
      h6 {
        font-weight: 700;
        font-size: 1.2rem;
        padding: 10px 0;
      }

      p.bound {
        font-size: 1rem;
        font-weight: 400;

        padding-bottom: 0px;
      }
    }
  }
}

.vision {
  background-color: var(--black-1);

  position: relative;
  color: var(--white);
  padding: 60px;
  img {
    width: 160px;
    &.upper_left {
      position: absolute;
      top: 1%;
      left: 1%;
    }
    &.lower_right {
      bottom: 1%;
      right: 1%;
      position: absolute;
    }
  }

  h5 {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: capitalize;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
    max-width: 60%;
    display: block;
    margin: 0 auto;
  }
}

.possibility {
  background-color: var(--white);
  color: var(--black-1);
  h6 {
    font-size: 2rem;
    font-weight: 600;
  }
  p {
    margin: 30px 0;
    font-size: 1rem;
    font-weight: 400;
    &.righter {
      padding-right: 4rem;
    }
  }
  img {
    width: -webkit-fill-available;
  }
}

@media (max-width: 991.98px) {
  .who {
    .btn-yellow {
      margin: 0 0 20px 0 !important;
    }
  }
}

@media (max-width: 767.98px) {
  .hero-header {
    // height: auto;
    .row > * {
      padding: 0rem !important;
    }
    #row {
      // min-height: auto;
      padding: 90px 0;

      .display-4 {
        font-size: 3rem;
      }
      p.text-white {
        font-size: 1.2rem;
      }
    }
  }
  .card-section {
    p.text-center {
      font-size: 1.7rem;
    }
  }
  .boundaries {
    .row > * {
      padding: 0rem !important;
    }
    p.text-center {
      font-size: 1.7rem;
    }
  }
  .who {
    p.text-center {
      font-size: 1.7rem;
    }

    .px-5 {
      padding: 0rem !important;
    }

    img {
      margin-bottom: 30px;
    }
  }

  .vision {
    padding: 60px 20px;
    img {
      width: 110px;
    }

    h5 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      max-width: 100%;
    }
  }

  .possibility {
    .row > * {
      padding: 0rem !important;
    }
    h6 {
      font-size: 1.7rem;
    }
    p {
      width: 100% !important;
      &.righter {
        padding-right: 0rem;
      }
    }
  }
}
