.hero-header {
  // margin-top: -85px;
  // background: url("../../../assets/imgs/hero-bg.svg"),
  //   url("../../../assets/imgs/hero-blend.svg"),
  //   url("../../../assets/imgs/hero-blend-2.svg");
  background-blend-mode: saturation;
  background-size: cover;
  background-size: cover;
  background-color: #ced4da;
  height: 91vh;

  #row {
    min-height: 85vh;
  }

  .display-4 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 3.6rem;
    text-transform: capitalize;
  }
  p.text-white {
    font-weight: 600;
    font-size: 1.5rem;
    max-width: 75%;
  }

  .btn-yellow {
    background-color: var(--btn-yellow);
    text-transform: capitalize;
    border-radius: 37px;
    padding: 16px;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    outline: none;

    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }

    img {
      margin-left: 10px;
    }
  }
}

.card-section {
  background-color: #f2f2f2;
  p.text-center {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-1);
  }
  .request {
    background-color: var(--white);
    text-align: center;
    padding: 20px 20px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    h6 {
      font-weight: 700;
      font-size: 1.5rem;
      color: var(--black-1);
    }
    div {
      font-weight: 400;
      font-size: 1rem;
      color: var(--black-1);
    }
  }
}

.boundaries {
  background-color: var(--white);
  margin-bottom: 20px;
  p.text-center {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-1);
    padding-bottom: 10px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
  }
  h6 {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--black-1);
    padding: 10px 0;
  }

  p.bound {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-1);
    padding-bottom: 30px;
  }
}

.who {
  background-color: var(--white);
  margin-bottom: 20px;
  p.text-center {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-1);
    // padding-bottom: 10px;

    &-2 {
      text-align: center;
      color: var(--black-1);
      font-weight: 400;
      font-size: 1rem;
    }
  }

  img {
    width: -webkit-fill-available;
    margin-bottom: 70px;
  }
  h6 {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--black-1);
    padding: 10px 0;
    text-transform: capitalize;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-1);
  }

  .btn-yellow {
    background-color: var(--btn-yellow);
    text-transform: capitalize;
    border-radius: 37px;
    padding: 16px;
    font-weight: 700;
    font-size: 0.8rem;
    border: none;
    outline: none;

    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.possibility {
  background-color: var(--back-green);
  h6 {
    font-size: 2rem;
    font-weight: 600;
  }
  p {
    margin: 30px 0;
    font-size: 1rem;
    font-weight: 400;
    &.righter {
      padding-right: 4rem;
    }
  }
  img {
    width: -webkit-fill-available;
  }
}

.newsletter {
  background-color: var(--light-green);
  padding: 4rem 0;
  height: max-content;

  h6 {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--black-1);
    padding: 10px 0;
    text-transform: none;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-1);

    a {
      color: var(--purple);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .flexer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
    input {
      box-shadow: none;
      width: 300px;
      border: 1px solid var(--btn-yellow);
      border-radius: 2px;

      &:focus {
        box-shadow: none;
        border: 1px solid var(--btn-yellow);
        outline: none;
      }
    }
    .btn-yellow {
      background-color: var(--btn-yellow);
      text-transform: capitalize;
      border-radius: 37px;
      padding: 16px;
      font-weight: 700;
      font-size: 0.8rem;
      border: none;
      outline: none;

      &:focus {
        border: none;
        box-shadow: none;
        outline: none;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .who {
    .btn-yellow {
      margin: 0 0 20px 0 !important;
    }
  }
}

@media (max-width: 767.98px) {
  .hero-header {
    height: auto;
    .row > * {
      padding: 0rem !important;
    }
    #row {
      min-height: auto;
      padding: 90px 0;

      .display-4 {
        font-size: 3rem;
      }
      p.text-white {
        font-size: 1.2rem;
      }
    }
  }
  .card-section {
    p.text-center {
      font-size: 1.7rem;
    }
  }
  .boundaries {
    .row > * {
      padding: 0rem !important;
    }
    p.text-center {
      font-size: 1.7rem;
    }
  }
  .who {
    p.text-center {
      font-size: 1.7rem;
    }

    .px-5 {
      padding: 0rem !important;
    }

    img {
      margin-bottom: 30px;
    }
  }
  .possibility {
    .row > * {
      padding: 0rem !important;
    }
    h6 {
      font-size: 1.7rem;
    }
    p {
      width: 100% !important;
      &.righter {
        padding-right: 0rem;
      }
    }
  }
}
