<app-navbar></app-navbar>

<div class="container-fluid hero-header">
  <div class="container">
    <div class="row align-items-center" id="row">
      <div class="col-lg-6 text-lg-start">
        <h1 class="display-4 text-white">
          deliver more<br />
          pay less
        </h1>
        <p class="text-white mb-4">
          Subscribe to our business Delivery plan and enjoy 11 delivery for
          ₦7500
        </p>
        <button class="btn btn-yellow text-white py-2 px-4 me-3">
          request now <img src="assets/icons/arrow-right.svg" />
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid card-section py-5">
  <div class="container">
    <div class="row">
      <p class="text-center">Enjoy Fast, Affordable and Better Delivery</p>

      <div class="request">
        <img src="assets/icons/request-icon.svg" />
        <h6>Request a Rider</h6>
        <div>
          Request for pickup and delivery within Abakaliki and it’s environs.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid boundaries py-4">
  <div class="container">
    <div class="row">
      <p class="text-center">Delivering Beyond Boundaries.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="assets/icons/logistics.svg" />
        <h6>Logistics Excellence</h6>
        <p class="bound">
          Central to our operation is a relentless pursuit of logistics
          excellence. We've the hardworking team to ensure that packages move
          seamlessly across distances. Whether it's the timely delivery of fresh
          produce or crucial supplies, we've got the logistics covered.
        </p>
      </div>
      <div class="col-md-4">
        <img src="assets/icons/innovation.svg" />
        <h6>Innovation and Technology</h6>
        <p class="bound">
          In a rapidly evolving digital landscape, innovation is our driving
          force. We've invested in cutting-edge technology and developed
          user-friendly websites and platforms that make ordering and tracking a
          breeze. Our logistics solutions are powered by data analytics,
          ensuring that goods reach their destination with maximum efficiency
          and minimal delays.
        </p>
      </div>
      <div class="col-md-4">
        <img src="assets/icons/safety.svg" />
        <h6>Safety and Sustainability</h6>
        <p class="bound">
          Safety and sustainability are non-negotiable principles for us. We've
          implemented rigorous safety protocols across our logistics network,
          from Pickup to Delivery Point, to ensure the security of your goods.
          In our commitment to sustainability, we're exploring eco-friendly
          logistics options and optimizing routes to reduce our environmental
          impact.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid who">
  <div class="container">
    <div class="row">
      <p class="text-center">Who We Are</p>
      <p class="text-center-2">
        Apporte Delivery, your modern logistics and food delivery company.
      </p>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 px-5">
        <h6>our mission</h6>
        <p>To provide the best last mile delivery solution to our users.</p>
      </div>
      <div class="col-md-6 px-5">
        <img src="assets/imgs/mission.svg" class="img-responsive" />
      </div>

      <div class="col-md-6 px-5 order-md-2">
        <h6>our vision</h6>
        <p>
          To become the best last mile delivery company by using technology in
          making faster and affordable delivery accessible to users.
        </p>
        <button class="btn btn-yellow text-white py-2 px-4 my-5">
          more about us
        </button>
      </div>
      <div class="col-md-6 px-5 order-md-1">
        <img src="assets/imgs/vision.svg" class="img-responsive" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid possibility py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-white">
        <h6>A Word of Possibilities</h6>
        <p class="righter">
          Our journey is far from over, and we invite you to be part of it.
          Whether you're a business looking to streamline your supply chain or a
          food enthusiast craving culinary delights, Apporte delivery is here to
          exceed your expectations. We're not just delivering goods and food;
          we're delivering peace of mind, convenience, and a world of
          possibilities.
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/imgs/possibility.svg" />
      </div>
      <p class="text-center text-white mt-5" style="width: 60%; margin: auto">
        Thank you for choosing Apporte delivery as your trusted partner.
        Together, we'll continue to redefine the way logistics and food delivery
        shape our world.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid newsletter">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h6>Sign up for our newsletter</h6>
        <p>
          Be the first to know about new releases, company news and insights.
        </p>
      </div>
      <div class="col-md-6">
        <div class="flexer">
          <input
            type="email"
            placeholder="Enter your email"
            class="py-2 px-2"
          />
          <button class="btn btn-yellow text-white py-2 px-4 me-3">
            Subscribe
          </button>
        </div>
        <p class="text-center py-3">
          We care about your data in our <a>privacy policy</a>
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
