<div id="page">
  <app-navbar></app-navbar>
  <div class="container-fluid content">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center toper mt-5">
          <p class="text-center">Who we Are</p>
          <p class="text-center-2">
            Apporte Delivery, your modern logistics and food delivery company.
          </p>
        </div>
        <div class="col-md-6">
          <h6>Providing Fast, Affordable and Better Delivery to users.</h6>
        </div>
        <div class="col-md-6">
          <p>
            In a world that never stops moving, logistics and food delivery has
            become the backbone of modern living. At Apporte delivery, we've
            embarked on a transformative journey to seamlessly connect
            producers, suppliers, and consumers, ensuring that food, goods, and
            services reach their destinations efficiently and with precision.
            This is the story of how we've harnessed innovation, embraced
            technology, and redefined logistics and food delivery.
          </p>
        </div>
        <div class="col-md-12 my-4">
          <img src="assets/imgs/about.svg" />
        </div>
        <div class="col-md-6">
          <h6>Our Logistics & Food Delivery</h6>
          <p class="about">
            Journey Apporte delivery is an indigenous logistics company powered
            by technology and passion which provide the best delivery solution
            to businesses and users. We started in 2023 with the objective of
            using technology to make logistics accessible and affordable to
            businesses and end users.
          </p>
        </div>
        <div class="col-md-6">
          <h6>Our Inception</h6>
          <p class="about">
            Apporte delivery began with a vision to create a logistics and food
            delivery ecosystem that transcends limitations. Our journey
            commenced with a small, passionate team committed to streamlining
            the movement of goods and making quality delivery accessible to all.
            We've evolved and expanded, but our core values of reliability,
            efficiency, and customer satisfaction remain unchanged.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
