#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}
.toper {
  p.text-center {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-1);
    // padding-bottom: 10px;

    &-2 {
      text-align: center;
      color: var(--black-1);
      font-weight: 400;
      font-size: 1rem;
      padding-bottom: 10px;
    }
  }
}
img {
  width: -webkit-fill-available;
}
h6 {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--black-1);
  padding: 10px 0;
}

p.about {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-1);
  padding-bottom: 30px;
}

@media (max-width: 767.98px) {
  .row > * {
    padding: 0rem !important;
  }
}
